@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 18px;
}

li {
  @apply list-disc;
  @apply list-inside;
}

h2 {
  font-weight: 500;
}

app-post a {
  @apply bg-blue-400;
  @apply underline;
}
